@model Capa_Entidades.Book

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Session["User"] == null)
{
    <script>
        $(document).ready(function () {            
            $('#modalNoSession').modal('show');

            $(document).on('click', '#backLink', function () {
                history.go(-1);
            });
        });
    </script>
    
        <!-- Modal -->
    <div id="modalNoSession" class="modal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">                    
                    <h4 class="modal-title text-center">IMPOSIBLE REALIZAR TRANSACCIÓN</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Primero tienes que loguearte para realizar solicitudes de préstamo.</p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" id="backLink" class="btn btn-danger">Volver atrás</a>
                </div>
            </div>

        </div>
    </div>
}

@Styles.Render("~/Content/student/transaction.css")

<div class="container-fluid decorative" >    
    <div class="vertical-space"></div>
    <div class="col-lg-6 col-lg-push-3 well">
        @using (Html.BeginForm("Transaction", "Student", FormMethod.Post, new { id = "FormTransaction", @class = "form-horizontal", role = "form" }))
        {         
            @Html.AntiForgeryToken()
            <fieldset>
                <legend><b>¿Está seguro que desea obtener un préstamo del siguiente libro?</b></legend>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Título:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.Title, new { @class = "form-control", disabled = "disabled" })                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Autor:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.Author, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Descripción:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.Description, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Fecha de publicación:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.PublicationDate, "{0:dd/MM/yyyy}", new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Edición:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.Edition, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Materia:</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(b => b.Subject, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>                
                <div class="form-group">
                    <label class="col-lg-3 control-label">NOTA:</label>
                    <div class="col-lg-9">
                        <span class="help-block">Una vez se haya efectuado el préstamo, DEBE ser devuelto en el plazo de 3 días. De lo contrario, se le penalizará con 1 día sin poder solicitar libros.</span>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-danger">Cancelar</button>
                        <button type="submit" class="btn btn-success">Confirmar petición</button>
                    </div>
                </div>
            </fieldset>        
        }
    </div>
</div>