@model Library.Models.DatesList

@Scripts.Render("~/Scripts/user/datesCombobox.js")

<div class="form-group">
    <label class="col-lg-2 control-label">Fecha de nacimiento:</label>
    <div class="col-lg-10 form-horizontal form-inline">        
        @Html.DropDownListFor(d => d.idDays, Model.FillDays() as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width: 100px;" })        
        @Html.DropDownListFor(d => d.idMonths, Model.FillMonths() as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width: 150px;" })        
        @Html.DropDownListFor(d => d.idYears, Model.FillYears() as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width: 100px;" })        
    </div>
    <div class="col-lg-2">
        @Html.ValidationMessageFor(d => d.idDays, null, new { @class = "validationField" })
    </div>
    <div class="col-lg-3">
        @Html.ValidationMessageFor(d => d.idMonths, null, new { @class = "validationField" })
    </div>
    <div class="col-lg-2">
        @Html.ValidationMessageFor(d => d.idYears, null, new { @class = "validationField" })      
    </div>
</div>