@model Capa_Entidades.Login

@Styles.Render("~/Content/user/login.css")

@using (Ajax.BeginForm("Login", "User", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "DivLogin" }, new { @class = "navbar-form navbar-right nav", role = "form", id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(l => l.email, new { @class = "form-control input-sm", placeholder = "Email..." }) |            
    </div>
    <div class="form-group">
        @Html.TextBoxFor(l => l.password, new { @class = "form-control input-sm", placeholder = "Contraseña..." })                       
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label class="small">                
                @Html.CheckBoxFor(l => l.rememberMe, new { @class = "checkbox" }) Recordarme &nbsp;
                @*<input id="rememberMe" type="checkbox" class="checkbox">*@                 
            </label>
        </div>
    </div>    
               
    <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</button>        
}