@model Capa_Entidades.Student

@using BotDetect.Web.UI.Mvc;

@{
    ViewBag.Title = "Student";    
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/user/student.css")

<script>
    $(document).ready(function () {
        $('#studForm').removeData('validator').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('#studForm');

        $('#CaptchaTextbox').keyup(function () {
            $('#CaptchaTextbox').val($('#CaptchaTextbox').val().toUpperCase());
        });
    });
</script>

@using (Ajax.BeginForm("Student", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "types" }, new { id = "studForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="col-lg-7">

        <div id="formFields">            
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.Name, new { @class = "form-control", placeholder = "Ingrese su nombre..." })
                    @Html.ValidationMessageFor(s => s.Person.Name, null, new { @class = "validationField" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.LastName, new { @class = "form-control", placeholder = "Ingrese su apellido..." })
                    @Html.ValidationMessageFor(s => s.Person.LastName, null, new { @class = "validationField" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">DNI:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.DNI, new { @class = "form-control", placeholder = "Ingrese su dni..." })
                    @Html.ValidationMessageFor(s => s.Person.DNI, null, new { @class = "validationField" })
                </div>
            </div>

            @{Html.RenderPartial("_BirthDate", new Library.Models.DatesList());}

            @{Html.RenderPartial("_Careers", new Library.Models.CareersList());}

            <div class="form-group">
                <label class="col-lg-2 control-label">Teléfono:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.Phone, new { @class = "form-control", placeholder = "Ingrese su teléfono..." })
                    @Html.ValidationMessageFor(s => s.Person.Phone, null, new { @class = "validationField" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Email:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.Email, new { @class = "form-control", placeholder = "Ingrese su email..." })
                    @Html.ValidationMessageFor(s => s.Person.Email, null, new { @class = "validationField" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Contraseña:</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Person.Password, new { @class = "form-control", placeholder = "Ingrese su contraseña..." })
                    @Html.ValidationMessageFor(s => s.Person.Password, null, new { @class = "validationField" })
                </div>
            </div>

            <div id="divCondition" class="form-group">
                <label class="col-lg-2 control-label">Condición:</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(s => s.IdCondition, "I", new { id = "rdoEntrant" })                            
                            Estudiante ingresante
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(s => s.IdCondition, "P", new { id = "rdoProfessional" })
                            Estudiante profesional
                        </label>                        
                    </div>
                    @Html.ValidationMessageFor(s => s.IdCondition, null, new { @class = "validationField" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Validación de captcha:</label>
                <div class="col-lg-10">
                    <div class="col-lg-7">
                        @{ MvcCaptcha captchaBox = new MvcCaptcha("captchaStudent"); }
                        @Html.Captcha(captchaBox)
                        <br />
                        @Html.TextBoxFor(s => s.CaptchaTextbox, new { @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.CaptchaTextbox, null, new { @class = "validationField" })
                    </div>     
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </div>

        </div>
    </fieldset>
}

@if (IsPost && ViewBag.ErrorProcedure != null)
{    
    <div class="fail-Indicator alert alert-dismissible alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
        <h4><b>¡USUARIO NO CREADO!</b></h4>
        <h5 style="color: white;"><i>Causa:</i>&nbsp;@ViewBag.ErrorProcedure</h5>
    </div>
    ViewBag.ErrorProcedure = null;
}