@model IEnumerable<Capa_Entidades.sp_ShowBooks_Result>

@{
    ViewBag.Title = "Panel de control";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grilla = new WebGrid(Model, rowsPerPage: 5, ajaxUpdateContainerId: "BooksGrid");    
}

@{
    if (Session["User"] == null)
    {
        <script>alert("LA SESIÓN EXPIRÓ.");</script>
        @Html.Action("Index", "Home");        
    }
    
    string range = ((List<string>)Session["User"])[0];
    if (range != "Administrator")
    {
        <div class="container-fluid">
            <div class="vertical-space"></div>
            <div class="alert alert-dismissible alert-danger">                
                <h2 class="text-center alert-link">Acceso no autorizado.</h2>
            </div>
            <div>
                <img src="~/Images/oddworld.png" alt="oddworld" class="center-block" />
            </div>
        </div>
    }
    else
    {         
        @Styles.Render("~/Content/user/administrator.css")
        <script>
            $(document).ready(function () {
                var rowCount = $("#booksGrid >tbody >tr").length;
                $("#totalBooks").html("Total libros: " + "<b>" + rowCount + "</b>");
            })
        </script>

        <div class="container-fluid">
            <h1 class="title-font">Libros existentes en la biblioteca</h1>    
            <div class="vertical-space"></div>
    
        <div>        
            <a href="@Url.Action("CreateBook", "Administrator")" class="btn btn-sm btn-success col-lg-2">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;Añadir libro
            </a>                
            <a href="@Url.Action("RegisteredUsers", "Administrator")" class="btn btn-sm btn-primary col-lg-2" style="margin-left: 3%;">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;Ver usuarios
            </a>
            <label class="col-lg-2 col-lg-offset-1" style="font-weight: normal;">Ordenar por: </label>
            <div class="col-lg-3 col-lg-pull-1">            
                <select id="select" class="form-control">
                    <option>Más recientes primero</option>
                    <option>Más antiguos primero</option>
                </select>            
            </div>
            <label id="totalBooks" class="breadcrumb col-lg-2 text-center count_Books text-primary"></label>
        </div>
        <div class="vertical-space"></div>
    
        <hr />

        <div>
            <style>
                .table th {
                    text-align: center;
                }
            </style>

            <div class="col-lg-12">
                @grilla.GetHtml(
                htmlAttributes: new { id = "booksGrid" },
                tableStyle: "table table-hover active table-bordered text-center",
                headerStyle: "success",                
                fillEmptyRows: false,
                mode: WebGridPagerModes.All,
                firstText: "<< Primero",
                previousText: "< Anterior",
                nextText: "Siguiente >",
                lastText: "Último >>",

                columns: grilla.Columns(                                
                                grilla.Column("Title", canSort: false, header: "Título"),
                                grilla.Column("Author", canSort: false, header: "Autor"),
                                grilla.Column("Description", canSort: false, header: "Descripción"),
                                grilla.Column("PublicationDate", canSort: false, header: "Publicación", format: (item) => string.Format("{0:dd/MM/yyyy}", item.PublicationDate)),
                                grilla.Column("Edition", canSort: false, header: "Edición"),
                                grilla.Column("Subject", canSort: false, header: "Materia"),
                                grilla.Column("Stock", canSort: false, header: "Ejemplares"),
                                grilla.Column("BookID", canSort: false, header: "Acciones",
                                        format: @<text>
                                                    <a href="@Url.Action("EditBook", new { id = @item.BookID })">
                                                        <span class="glyphicon glyphicon-pencil"></span> Editar</a>&nbsp;&nbsp;&nbsp;

                                                    <a href="@Url.Action("DeleteBook", new { id = @item.BookID })">
                                                        <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                                                </text>     
                                )
                         )
                 )
            </div>
        </div>
    </div>
    }
}