@model Capa_Entidades.Book

@{
    ViewBag.Title = "Editar libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Session["User"] == null)
    {
        <script>alert("LA SESIÓN EXPIRÓ.");</script>
        @Html.Action("Index", "Home");        
    }
    
    @Styles.Render("~/Content/themes/base/all.css")
    @Styles.Render("~/Content/themes/ui-lightness/jquery-ui.ui-lightness.css")
    @Styles.Render("~/Content/administrator/editBook.css")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/administrator/datepicker.js")    
    @Scripts.Render("~/Scripts/administrator/editBook.js")
    
    string range = ((List<string>)Session["User"])[0];
    if (range != "Administrator")
    {
        <div class="container-fluid">
            <div class="vertical-space"></div>
            <div class="alert alert-dismissible alert-danger">
                <h2 class="text-center alert-link">Acceso no autorizado.</h2>
            </div>
            <div>
                <img src="~/Images/oddworld.png" alt="oddworld" class="center-block" />
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <h2 class="title-font col-lg-11">
                    <button onclick="location.href = '@Url.Action("ControlPanel")';" class="btn btn-default col-lg-1">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    Editar información
                </h2>
            </div>

            @using (Html.BeginForm("EditBook", "Administrator", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend></legend>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-2 control-label">Título:</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(b => b.Title, new { @class = "form-control", placeholder = "Título del libro..." })
                                @Html.ValidationMessageFor(b => b.Title, null, new { @class = "validationField" })                                
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label">Descripción:</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(b => b.Description, new { @class = "form-control", placeholder = "Descripción del libro..." })
                                @Html.ValidationMessageFor(b => b.Description, null, new { @class = "validationField" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-2 control-label">Autor:</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(b => b.Author, new { @class = "form-control", placeholder = "Autor del libro..." })
                                @Html.ValidationMessageFor(b => b.Author, null, new { @class = "validationField" })
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label">Fecha de publicación:</label>
                            <div class="col-lg-7">
                                <div class='input-group' id='datetimepicker1'>                                    
                                    @Html.TextBoxFor(b => b.PublicationDate, "{0:dd/MM/yyyy}", new { @id = "datepicker", @class = "form-control", @readonly = "readonly", placeholder = "DD/MM/AAAA", style = "background-color: white;" })
                                    <span class="input-group-addon" onclick="alert('¡Haga clic sobre el campo para ver el calendario!');">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(b => b.PublicationDate, null, new { @class = "validationField" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-2 control-label">Edición:</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(b => b.Edition, new { @class = "form-control", placeholder = "Nombre de la edición..." })
                                @Html.ValidationMessageFor(b => b.Edition, null, new { @class = "validationField" })
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label">Materia:</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(b => b.Subject, new { @class = "form-control", placeholder = "Materia del libro..." })
                                @Html.ValidationMessageFor(b => b.Subject, null, new { @class = "validationField" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="col-lg-12">
                            <label class="col-lg-1">Ejemplares existentes:</label>
                            <div class="col-lg-1">
                                @Html.TextBoxFor(b => b.Stock, new { @class = "form-control", type = "number", @readonly = "readonly" })                                
                            </div>
                            <div class="col-lg-3">
                                @Html.CheckBox("onlyStock", new { @class = "checkbox-inline" })
                                <label for="onlyStock" class="legend-checkbox">Solamente editar ejemplares</label>                                
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-1">
                                    <label style="margin-top: 8px"><span class="glyphicon glyphicon-book"></span></label>
                                </div>
                                <div class="col-lg-7 col-lg-pull-1" style="margin-left: 4%;">
                                    @Html.TextBox("modifyStock", null, new { @id = "modifyStock", @class = "form-control", type = "number", min = "0", @readonly = "readonly", @Value = "0" })
                                </div>
                            </div>
                            <div class="col-lg-2" style="margin-left: -60px;">
                                <input type="radio" name="plusOrMinus" id="plus" value="+" /><label for="plus" class="legend-radio">Añadir libros</label>                                
                                <br />
                                <input type="radio" name="plusOrMinus" id="minus" value="-" /><label for="minus" class="legend-radio">Quitar libros</label>
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-info">Cambiar datos de libro</button>
                            </div>
                        </div>                        
                    </div>                    
                </fieldset>
            }
            <div class="vertical-space"></div>
            <img src="~/Images/book-20clip.png" width="500" alt="book_ilustration" class="img-responsive center-block" />

        </div>
    }
}