<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/university.ico" rel="icon" type="image/x-icon" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/general/layout.css")
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/Scripts/general/layout.js")
    @Scripts.Render("~/bundles/validator")
</head>

<body class="container">
    <div id="mainFrame">
        <nav id="top" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")" title="Biblioteca Universitaria"><img src="~/Images/library.png" class="library" /></a>
                </div>

                <div class="collapse navbar-collapse navbar-effect" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Map","Home")">Mapa<span class="sr-only">(current)</span></a></li>
                        <li><a href="@Url.Action("About", "Home")">Acerca de</a></li>
                        <li><a href="@Url.Action("Books","Home")">Índice de libros</a></li>
                        <li id="liRegister"><a href="@Url.Action("Register","User")">Registrarse</a></li>
                    </ul>
                    @if (Request.Cookies["libraryUniCookie"] != null && Session["User"] == null)
                    {                        
                        Session["User"] = new Capa_Servicios.UserServices().RestoreCookiesData((string)Request.Cookies["libraryUniCookie"].Value);
                    }

                    @if(Session["User"] != null)
                    {
                        string range = ((List<string>)Session["User"])[0];
                        string name = ((List<string>)Session["User"])[1];
                        string lastName = ((List<string>)Session["User"])[2];
                        <script type="text/javascript">
                            $("#liRegister").hide();
                        </script>

                        if (range == "Administrator")
                        {
                            <div>
                                <ul class="nav navbar-nav navbar-right">         
                                    <li>
                                        <span class="welcome">
                                            <img src="../../Images/user_male2.png" alt="user_icon" width="25" height="25" />
                                             @name @lastName
                                        </span>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span>  Opciones <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="@Url.Action("ControlPanel", "Administrator")"><span class="glyphicon glyphicon-cog"></span> Panel de control</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("RegisteredUsers", "Administrator")"><span class="glyphicon glyphicon-user"></span> Ver usuarios</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("CreateBook", "Administrator")"><span class="glyphicon glyphicon-plus"></span> Agregar libro</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Logout","User")"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                                </ul>
                            </div>
                        }
                        else if (range == "Employee")
                        {
                            <div>
                                <ul class="nav navbar-nav navbar-right">         
                                    <li>
                                        <span class="welcome">
                                            <img src="../../Images/user_male2.png" alt="user_icon" width="25" height="25" />
                                             @name @lastName 
                                        </span>
                                    </li>                   
                                    <li><a href="@Url.Action("AppliedSanctions", "Employee")"><span class="glyphicon glyphicon-eye-close"></span> Sanciones</a></li>
                                    <li><a href="@Url.Action("LoansGranted", "Employee")"><span class="glyphicon glyphicon-thumbs-up"></span> Préstamos</a></li>
                                    @{ Html.RenderPartial("~/Views/Employee/_Notifications.cshtml", new Capa_Servicios.EmployeeServices().GetNotifications()); }
                                    <li><a href="@Url.Action("Logout","User")"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div>
                                <ul class="nav navbar-nav navbar-right">         
                                    <li>
                                        <span class="welcome">
                                            <img src="../../Images/user_male2.png" alt="user_icon" width="25" height="25" />
                                             @name @lastName 
                                        </span>
                                    </li>
                                    <li><a href="@Url.Action("Loans", "Student")"><span class="glyphicon glyphicon-floppy-saved"></span> Mis préstamos</a></li>
                                    <li><a href="@Url.Action("Sanctions","Student")"><span class="glyphicon glyphicon-floppy-remove"></span> Mis sanciones</a></li>
                                    <li><a href="@Url.Action("Logout","User")"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                                </ul>
                            </div>
                        }                        
                    }
                    else
                    {
                        <div id="DivLogin">
                            @{Html.RenderPartial("~/Views/User/_Login.cshtml", new Capa_Entidades.Login());}
                        </div>
                        
                        <script>
                            $("#liRegister").show();
                        </script>
                    }                                        
                </div>
            </div>
        </nav>

        <div id="content" class="navbar navbar-default navbar-collapse">
            <div id="view">
                @RenderBody()
            </div>

            <a href="#" id="goTop" class="scrollup" style="display: none;"></a>

            <div id="footer" style="padding-top: 2%; padding-bottom: 2%;">
                <hr />
                © Biblioteca Universitaria 2016. Todos los derechos reservados
            </div>
        </div>
    </div>
</body>
</html>
